@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #EAEAEA;
}

.aspect-[4/3] {
  aspect-ratio: 4/3;
}
